.container {
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    background-color: #1F2937;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .select-container {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .options {
    padding: 10px;
    margin: 5px;
    font-weight: bolder;
    width: 15rem;
  }

  .set-container {
    color: #fff;
  }


  .availability-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .grid-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .btn-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .days {
    padding-right: 5px;
    padding-top: 10px;
  }

  .save-btn {
    padding: 10px;
    margin: 5px;
    width: 15rem;
    font-weight: bolder;
    color: #fff;
    background-color: #3B82F6;
    border: 0px solid;
    border-radius: 4px;
  }

  @media only screen and (max-width: 600px) {
    .grid-contain{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .btn-grid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }